.admin-table >>> .ant-table-bordered .ant-table-thead > tr > th {
  border-right: 1px solid #6B5B95 ;
}

.admin-table >>> .ant-table-thead > tr > th {
  background: #6B5B95;
  color: white;
  text-align: center;
}

.profile-author-thumb {
  display: inline-block;
position: relative;
}
.profile-author-thumb > img {
  border: 3px solid #fff;
  border-radius: 100%;
  max-width: 155px;
  min-width: 155px;
  width: 155px;
  display: inline-block;
}
.profile-author-thumb:hover .edit-dp {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

@media screen and (max-width: 736px) {
  .profile-author-thumb > img {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}
}

@media screen and (max-width: 420px) {
  .profile-author-thumb > img {
    max-width: 80px;
    min-width: 80px;
    width: 80px;
}
}

@media screen and (max-width: 1024px) {
  .profile-author-thumb > img {
  max-width: 130px;
  min-width: 130px;
  width: 130px;
}
}


.edit-dp {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  border: 1px solid #b3b3b3;
  border-radius: 100%;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  right: 10px;
  text-align: center;
  transform: scale(0);
  transition: all 0.2s linear 0s;
  visibility: hidden;
  width: 40px;
}
.edit-dp > label.fileContainer {
  color: #222;
  margin: 0;
  width: 100%;
}


.edit-dp > label.fileContainer {
  color: #222;
  margin: 0;
  width: 100%;
}

.fileContainer {
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.fileContainer [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.create-button {
  background-color: #6B5B95;
  border-color: #6B5B95;
  width: 200px;
  height: 40px;
}
