@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* -----------------------------------
    1 - General Styles
------------------------------------*/
*, body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

.form-body {
    background-color: #23394A;
    height: 100%;
}

.form-body > .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    min-height: 100%;
}

.website-logo {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 140px;
    right: initial;
    bottom: initial;
    transform: translateY(-50%);
}

.website-logo img {
    width: 300px;
}

.website-logo .logo {
    display: inline-block;
    background-image: url("/images/logo_career_network.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.website-logo .logo img {
    width: 300px;
}

.website-logo .logo img.logo-size {
    opacity: 0 !important;
}

.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    padding: 60px;
    text-align: center;
    z-index: 999;
}

.img-holder .bg {
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/login_register.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media (min-height: 700px) {
    .img-holder {
        position: fixed;
    }

    .website-logo {
        position: fixed;
    }
}

.form-holder {
    margin-left: 550px;
    width: 100%;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    min-height: 100%;
}

.form-content {
    position: relative;
    background-color: #23394A;
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 360px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content .page-links {
    margin-bottom: 34px;
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
    margin-right: 0;
}

.form-content .page-links a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a.active {
    font-weight: 700;
}

.form-content .page-links a.active:after {
    background-color: #fff;
}

.form-content .page-links a:hover:after, .form-content .page-links a:focus:after {
    background-color: #fff;
}

.form-content input {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #445867;
    font-size: 15px;
    font-weight: 300;
    color: #DEDBDB;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.form-content input:hover, .form-content input:focus {
    border: 0;
    background-color: #fff;
    color: #000;
}

.form-content .form-button {
    margin-top: 30px;
    margin-bottom: 25px;
}

.form-content .form-button .ibtn {
    border-radius: 6px;
    border: 0;
    padding: 6px 28px;
    background-color: #fff;
    color: #23394A;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button .ibtn:last-child {
    margin-right: 0;
}

.form-content .form-button .ibtn:hover, .form-content .form-button .ibtn:focus {
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}
.form-content .form-button a {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.form-content form {
    margin-bottom: 30px;
}

/* -----------------------------------
    2 - Responsive Styles
------------------------------------*/
@media (max-width: 992px) {
    .img-holder {
        display: none;
    }

    .form-holder {
        margin-left: 0;
    }

    .form-holder .form-content {
        padding: 0px 60px 60px;
        display: block;
    }

    .website-logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        right: initial;
        bottom: initial;
    }

    .website-logo .logo {
        background-image: url("/images/logo_career_network.png");
    }
}


/* -----------------------------------
    3 - Ant design custom
------------------------------------*/

.ant-input {
    height:auto;
}

.form-validate >>> .ant-form-explain {
    margin-bottom: 10px;
}

.form-validate >>> .ant-select-selection {
    border: none;
    background-color: #445867;
    margin-bottom: 10px;
    padding-left: 9px;
    font-size: 15px;
    color: #DEDBDB;
}

.height-bg-auth {
    min-height: 750px;
}